.main{
    position: relative;
    width: 100%;
}
.fmblock{
    text-align: center;
    position: relative;
    width: 100%;
}
.fmblock > div{
    position: relative;
    font-style: oblique;
    padding: 150px 0 180px 0;
    width: auto;
    margin: auto;
}
.subh{
    width: 186px;
    text-align: right;
    margin-top: -45px;
    margin-left: 11vw;
    position: absolute;
    font-size: 16px;
    color: #cecece;
}
.mainh{
    position: relative;
    font-size: 6.3vw;
}
.nav > a > p:hover{
    color: #A5A5A5;
}
.minfo{
    width: 100%;
    background-color: white;
}
.tlan{
    color: #474747;
    border-bottom: 1px solid #252525;
    height: 20px;
    width: 92%;
    margin: auto;
    font-weight: bold;
}
.allcircle{
    margin: auto;
    text-align: center;
}
.wholec{
    position: relative;
    background-color: 252525;
    text-align: center;
    display: inline-block;
    width: 21%;
    border-left: 1px solid #252525;
    padding-bottom: 60px;
}
.wholec:first-child{
    border: 0;
}
.wholec > img{
    margin-top: 10%;
    width: 70%;
}
.wholec > p{
    width: 100%;
    position: absolute;
    bottom: 26px;
    font-size: 13px;
    font-style: oblique;
    color: #aeaeae;
}
.in1 > p, .in2 > p, .in3 > p, #pp{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#pp{
    font-weight: bold;
}
.p1{
    font-weight: bold;
    font-size: 14px;
    width: 34%;
    display: inline-block;
    position: relative;
}
.p2{
    padding: 10px 3%;
    width: 60%;
    display: inline-block;
}
.p2 > span{
    position: absolute;
    left: 4%;
    bottom: 44%;
}
.in1{
    text-align: center;
    display: block;
    padding: 90px 10vw;
    color: #1c1c1c;
}
.in2{
    position: relative;
    width: 100%;
}
.in3{
    position: relative;
    margin-top: 90px;
    width: 92%;
    padding: 0 4%;
}
.in3 > table{
    padding: 90px 0 90px 0; 
    width: 100%;
}
.in3 tr{
    position: relative;
    width: 100%;
}
.in3  td:nth-child(odd){
    width: 44%;
    color:  #474747;
}
.in3  td:nth-child(even){
    color: #474747;
    width: 56%;
}
/*FOOTER*/
#unfooter{
    position: absolute;
    bottom: -15px;
    width: 100%;
    background-color: white;
    height: 15px;
}
.footer{
    background-color: white;
    height: 100px;
    background: -webkit-linear-gradient(top, black, white);
    background: -moz-linear-gradient(top, black, white);
    background: -o-linear-gradient(top, black, white);
    background: linear-gradient(top, black, white);
    -webkit-transform: rotateX(40deg); /* Safari */
    transform: rotateX(40deg); /* Standard syntax */
}
#lefttr{
    position: absolute;
    left: 0;
}
#righttr{
    position: absolute;
    right: 0;
}
.footer > table{
    text-align: center;
    position: absolute;
    width: 80%;
    left: 10%;
    bottom: 10px;
}
.footer tr{
    width: 100%;
}
.footer td{
    width: 50%;
}